@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<p><strong>NOTE:</strong> You need to have at least one stylist before you can add a client!</p>
<p>Go to @Html.ActionLink("this page", "Create", "stylists") to create a stylist.</p>

<h4>Add a new stylist</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add new stylist" />
}
<p>@Html.ActionLink("Show all stylists", "Index")</p>